@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #f97f51; /* Background utama */
  --foreground: #2c3a47; /* Warna teks utama */

  /* Primary & Secondary */
  --primary: #1b9cfc; /* Warna utama untuk tombol */
  --secondary: #55e6c1; /* Warna sekunder */

  /* Accent */
  --accent: #eab543; /* Warna aksen (highlight / call to action) */

  /* Text Colors */
  --text-primary: #ffffff; /* Warna teks utama (putih) */
  --text-muted: #cad3c8; /* Warna teks sekunder (soft grey) */

  /* UI Colors */
  --border: #3b3b98; /* Warna border / garis pemisah */
  --error: #fd7272; /* Warna merah untuk error */
  --success: #58b19f; /* Warna hijau untuk sukses */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c3a47; /* Background gelap */
    --foreground: #f8efba; /* Teks utama lebih terang */

    --primary: #fc427b; /* Warna utama di mode gelap */
    --secondary: #d6a2e8; /* Warna sekunder mode gelap */

    --accent: #bdc581; /* Warna aksen (lebih soft) */

    --text-primary: #ffffff; /* Teks utama tetap putih */
    --text-muted: #9aecdb; /* Teks sekunder lebih terang */

    --border: #6d214f; /* Border lebih gelap */
    --error: #b33771; /* Merah lebih gelap untuk error */
    --success: #14b8a6; /* Hijau yang lebih deep */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
